body {
  padding: 0;
  margin: 0;

}

.app-container {
  height: 100vh;
  width: 100vw;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  .map-container,
  .article-container {
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out;
  }

  .map-container {
    position: fixed;
    width: 60vw;
    left: 0;
    background-color: #000;
    z-index: 0;
  }

  .article-container {
    width: calc(40vw - 0px);
    right: 0;
    background-color: #a73f3f;
    box-shadow: 0 0 30px gray;
    z-index: 1;

  }

  .toggle-container {
    opacity: 0;
  }

  &.selectElement {
    .toggle-container {
      cursor: pointer;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background: antiquewhite;
      transition: all 0.3s ease-in-out;
      opacity: 1;
      border-radius: 50px;
      z-index: 999;
    }

    .toggle-container:hover {
      border-radius: 10px;
    }

    .article-container {
      width: 0;
    }

    .map-container {
      width: 100%;
    }

    &.hiddenMap {
      .map-container {
        width: 0;
      }

      .article-container {
        width: 100%;
      }
    }
  }
}